body {
    background:#00F6FF;      
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.title-section {
    width: 100%;
    background: rgba(76, 63, 63, 0.6);   /*background of title*/
    padding: 20px 0;
    text-align: center;
    backdrop-filter: blur(4px);
    border-bottom: 4px solid #ff9100;
}

.title-section h1 { /*text inside the title*/
    font-size: 45px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 3px 3px 10px rgba(0,0,0,0.8);
    letter-spacing: 1px;
    margin: 0;
}


.section-title {  /*section text style*/
  font-size: 30px;
  font-weight: 700;
  margin: 25px 0 10px 40px;
}

.section-title.green { color: #00c853; } /*make the text green for section title*/
.section-title.red { color: #ff1744; }
.section-title.purple { color: #b200ff; }
.section-title.orange { color: #ff9100; }

.items-container {
  display: flex;    /*item card */
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.item-card {
  width: 230px;  /*width of item card*/
  background: rgba(255,255,255,0.9); /*white*/
  border-radius: 14px;
  padding: 12px;
  text-align: center;
  transition: 0.3s;
}

.item-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px black;
}

.item-card img {
  width: 100%; /*width of image*/
  height: 150px;/*height of image*/
  border-radius: 10px; /*rounds the margin*/
  object-fit: cover; /*crop the image to fit in that area*/
}

.item-card p { /*name and price*/
  margin: 10px 0;
  font-size: 18px;
  font-weight: 600;
}


#note {  /*text area*/
  width: 90%;
  margin: 25px auto;
  display: block;
  height: 120px;
  border-radius: 12px;
  padding: 12px;
  font-size: 18px;
}

.place-order-btn {
    display: block;
    margin: 30px auto;
    padding: 14px 40px;

    background-color: #ff7a00;
    color: white;

    font-size: 18px;
    font-weight: bold;

    border: none;
    border-radius: 10px;

    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}

.place-order-btn:hover {
    background-color: #e86c00;
    transform: scale(1.05);
}

