/* Apply common font */
body {
    font-family: 'Poppins', sans-serif;
   background: url("https://img.freepik.com/free-photo/top-view-table-full-delicious-food-composition_23-2149141334.jpg") no-repeat center center/cover;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Main title */
.title {
    font-size: 40px;
    margin-top: 40px;
    font-weight: 700;
    color: rgb(22, 74, 231);
    text-shadow: 2px 2px 10px black;
}

/* Login box */
.login-box {
    width: 350px;
    margin: 40px auto;
    background: rgba(255,255,255,0.95);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/* Inputs */
.login-box input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Login Button */
.login-box button {
    width: 95%;
    padding: 12px;
    margin-top: 15px;
    background: #ff9100;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.login-box button:hover {
    background: #e67f00;
}

/* Error Message */
#error {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
}
